# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build
build/
bin/

# Dependency directories
vendor/

# Environment variables and configuration files

.env

# Extras
*.DS_Store
*.bak
*.swp
*.tmp
*tmp
*.log
*.out
*.gz
*.zip
*.tar
*.rar
*.pid
*.7z
*.apk
/test-proj
/extras
.rs-old/

# Custom

extras/
logs/
.storage/
shared/gen/
memory-bank/

# Ignore all files in the data directory
pb_data/


